.custom-carousel .carousel .slide {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.custom-carousel .carousel .slide.selected {
  opacity: 1;
}
.carousel-zoom {
  transition: transform 7s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.08);
}
.custom-carousel .carousel .slide.selected .carousel-zoom {
  transform: scale(1);
}
